Repository awslabs/aurora-dsql-orms: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-sqlalchemy, ruff-format-sqlalchemy, pyright-sqlalchemy, ruff-tortoise, ruff-format-tortoise, pyright-tortoise, ruff-django, ruff-format-django, prettier-prisma

ruff-sqlalchemy:
  name: ruff (sqlalchemy)
  entry: uv run --project python/sqlalchemy ruff check --fix
  language: system
  pass_filenames: false

ruff-format-sqlalchemy:
  name: ruff format (sqlalchemy)
  entry: uv run --project python/sqlalchemy ruff format
  language: system
  pass_filenames: false

pyright-sqlalchemy:
  name: pyright (sqlalchemy)
  entry: uv run --project python/sqlalchemy pyright --project python/sqlalchemy
  language: system
  pass_filenames: false

ruff-tortoise:
  name: ruff (tortoise-orm)
  entry: uv run --project python/tortoise-orm ruff check --fix
  language: system
  pass_filenames: false

ruff-format-tortoise:
  name: ruff format (tortoise-orm)
  entry: uv run --project python/tortoise-orm ruff format
  language: system
  pass_filenames: false

pyright-tortoise:
  name: pyright (tortoise-orm)
  entry: uv run --project python/tortoise-orm pyright --project python/tortoise-orm
  language: system
  pass_filenames: false

ruff-django:
  name: ruff (django)
  entry: uv run --project python/django ruff check --fix
  language: system
  pass_filenames: false

ruff-format-django:
  name: ruff format (django)
  entry: uv run --project python/django ruff format
  language: system
  pass_filenames: false

prettier-prisma:
  name: prettier (prisma)
  entry: npx --prefix node/prisma prettier --write
  language: system

fix(deps): align Drizzle example type dependencies
  node/drizzle/examples/veterinary-app/package-lock.json
  node/drizzle/examples/veterinary-app/package.json
  node/drizzle/package-lock.json
  node/drizzle/package.json
Due: none

fix(ci): secure trusted fork PR testing
  .github/workflows/ci-gate.yml
  .github/workflows/dotnet-ef-core-ci.yml
  .github/workflows/java-hibernate-ci.yml
  .github/workflows/manual-ci.yml
  .github/workflows/node-drizzle-ci.yml
  .github/workflows/node-prisma-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python-django-ci.yml
  .github/workflows/python-sqlalchemy-ci.yml
  .github/workflows/python-tortoise-ci.yml
  .github/workflows/trusted-pr-integration-runner.yml
  .github/workflows/trusted-pr-integration.yml
Due: none

fix(ci): secure trusted fork PR testing (#645)
  .github/workflows/ci-gate.yml
  .github/workflows/dotnet-ef-core-ci.yml
  .github/workflows/java-hibernate-ci.yml
  .github/workflows/manual-ci.yml
  .github/workflows/node-drizzle-ci.yml
  .github/workflows/node-prisma-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python-django-ci.yml
  .github/workflows/python-sqlalchemy-ci.yml
  .github/workflows/python-tortoise-ci.yml
  .github/workflows/trusted-pr-integration-runner.yml
  .github/workflows/trusted-pr-integration.yml
Due: none

Rely on native foreign keys in ORM samples (#601)
  java/hibernate/CHANGELOG.md
  node/drizzle/examples/veterinary-app/src/veterinary-service.ts
  node/drizzle/examples/veterinary-app/test/dsql-client.test.ts
  python/tortoise-orm/README.md
  python/tortoise-orm/docs/ADAPTER_BEHAVIOR.md
Due: none

fix(prisma): validate with latest dsql-lint
  .github/workflows/compat-canary.yml
  node/prisma/CHANGELOG.md
  node/prisma/README.md
  node/prisma/package-lock.json
  node/prisma/package.json
  node/prisma/src/cli/validate.ts
  node/prisma/test/cli-integration.test.ts
  node/prisma/test/validate.test.ts
  node/prisma/test/workflow.test.ts
Due: prettier-prisma

fix(prisma): validate with latest dsql-lint (#646)
  .github/workflows/compat-canary.yml
  node/prisma/CHANGELOG.md
  node/prisma/README.md
  node/prisma/package-lock.json
  node/prisma/package.json
  node/prisma/src/cli/validate.ts
  node/prisma/test/cli-integration.test.ts
  node/prisma/test/validate.test.ts
  node/prisma/test/workflow.test.ts
Due: prettier-prisma

Update changelog for node/prisma/v0.1.3
  node/prisma/CHANGELOG.md
Due: none

chore(sqlalchemy): prepare v1.3.0 release
  python/sqlalchemy/CHANGELOG.md
Due: none

docs(sqlalchemy): align v1.3.0 changelog format
  python/sqlalchemy/CHANGELOG.md
Due: none

chore(sqlalchemy): prepare v1.3.0 release (#660)
  python/sqlalchemy/CHANGELOG.md
Due: none

Update changelog for python/sqlalchemy/v1.3.0
  python/sqlalchemy/CHANGELOG.md
Due: none

chore(hibernate): prepare v2.2.0 release
  java/hibernate/CHANGELOG.md
  java/hibernate/README.md
  java/hibernate/dialect/README.md
  java/hibernate/dialect/build.gradle
  java/hibernate/examples/pet-clinic-app/build.gradle
  java/hibernate/examples/pet-clinic-app/pom.xml
Due: none

chore(hibernate): prepare v2.2.0 release (#661)
  java/hibernate/CHANGELOG.md
  java/hibernate/README.md
  java/hibernate/dialect/README.md
  java/hibernate/dialect/build.gradle
  java/hibernate/examples/pet-clinic-app/build.gradle
  java/hibernate/examples/pet-clinic-app/pom.xml
Due: none

chore(tortoise): prepare v0.3.0 release
  python/tortoise-orm/CHANGELOG.md
Due: none

chore(django): prepare v0.7.0 release
  python/django/CHANGELOG.md
Due: none

Update changelog for java/hibernate/v2.2.0
  java/hibernate/CHANGELOG.md
Due: none

chore(drizzle): prepare v0.2.0 release
  node/drizzle/CHANGELOG.md
  node/drizzle/examples/veterinary-app/package-lock.json
  node/drizzle/package-lock.json
  node/drizzle/package.json
Due: none

chore(ef-core): prepare v1.1.0 release
  dotnet/ef-core/CHANGELOG.md
  dotnet/ef-core/src/Amazon.AuroraDsql.EntityFrameworkCore/Amazon.AuroraDsql.EntityFrameworkCore.csproj
Due: none

docs(prisma): backfill changelog for 0.1.0 through 0.1.3
  node/prisma/CHANGELOG.md
Due: none

chore(drizzle): prepare v0.2.0 release (#665)
  node/drizzle/CHANGELOG.md
  node/drizzle/examples/veterinary-app/package-lock.json
  node/drizzle/package-lock.json
  node/drizzle/package.json
Due: none

chore(tortoise): prepare v0.3.0 release (#663)
  python/tortoise-orm/CHANGELOG.md
Due: none

chore(django): prepare v0.7.0 release (#664)
  python/django/CHANGELOG.md
Due: none

chore(ef-core): prepare v1.1.0 release (#666)
  dotnet/ef-core/CHANGELOG.md
  dotnet/ef-core/src/Amazon.AuroraDsql.EntityFrameworkCore/Amazon.AuroraDsql.EntityFrameworkCore.csproj
Due: none

docs(prisma): Changelog update for 0.1.0 through 0.1.3 (#667)
  node/prisma/CHANGELOG.md
Due: none

Update changelog for node/drizzle/v0.2.0
  node/drizzle/CHANGELOG.md
Due: none

Update changelog for python/django/v0.7.0
  python/django/CHANGELOG.md
Due: none

fix: support TypeScript 7 in Jest tests
  node/drizzle/jest.config.js
  node/drizzle/package-lock.json
  node/drizzle/package.json
Due: none

fix: support TypeScript 7 in Prisma tests
  node/prisma/jest.config.js
  node/prisma/package-lock.json
  node/prisma/package.json
Due: prettier-prisma

fix: satisfy updated Django lint rules
  python/django/aurora_dsql_django/tests/integration/test_dsql.py
  python/django/aurora_dsql_django/tests/unit/test_wrapper.py
  python/django/docs/source/conf.py
  python/django/examples/pet-clinic-app/README.md
  python/django/examples/pet-clinic-app/project/manage.py
  python/django/examples/pet-clinic-app/project/pet_clinic/views.py
  python/django/reference/ADAPTER_BEHAVIOR.md
  python/django/reference/KNOWN_ISSUES.md
  python/django/setup.py
Due: ruff-django, ruff-format-django

fix: satisfy updated SQLAlchemy quality checks
  python/sqlalchemy/README.md
  python/sqlalchemy/aurora_dsql_sqlalchemy/base.py
  python/sqlalchemy/examples/pet-clinic-app/README.md
  python/sqlalchemy/examples/pet-clinic-app/src/example.py
  python/sqlalchemy/examples/pet-clinic-app/test/test_example.py
  python/sqlalchemy/test/test_compiler.py
  python/sqlalchemy/test/test_connector_integration.py
  python/sqlalchemy/test/test_sequence.py
Due: ruff-sqlalchemy, ruff-format-sqlalchemy, pyright-sqlalchemy

fix: satisfy updated Tortoise quality checks
  python/tortoise-orm/README.md
  python/tortoise-orm/aurora_dsql_tortoise/__init__.py
  python/tortoise-orm/aurora_dsql_tortoise/common/schema_generator.py
  python/tortoise-orm/docs/ADAPTER_BEHAVIOR.md
  python/tortoise-orm/tests/integration/conftest.py
  python/tortoise-orm/tests/integration/fields/test_datetime.py
  python/tortoise-orm/tests/integration/test_indexes.py
  python/tortoise-orm/tests/unit/test_aerich_compat.py
  python/tortoise-orm/tests/unit/test_psycopg_client.py
  python/tortoise-orm/tests/unit/test_public_api.py
Due: ruff-tortoise, ruff-format-tortoise, pyright-tortoise

fix: use one Drizzle type identity in local example
  node/drizzle/examples/veterinary-app/tsconfig.json
Due: none

fix: include Node types in Prisma TypeScript build
  node/prisma/tsconfig.json
Due: prettier-prisma

fix: support timezone-aware test on Python 3.10
  python/tortoise-orm/tests/integration/fields/test_datetime.py
Due: ruff-tortoise, ruff-format-tortoise, pyright-tortoise

fix: install psycopg pool support
  python/sqlalchemy/pyproject.toml
  python/sqlalchemy/uv.lock
Due: none

fix: select matching Django psycopg connector
  python/django/aurora_dsql_django/base.py
  python/django/pyproject.toml
  python/django/uv.lock
Due: ruff-django, ruff-format-django

chore(deps): keep TypeScript 7 out of the node-prisma group
  .github/dependabot.yml
Due: none

docs: regenerate component changelogs from GitHub Releases
  dotnet/ef-core/CHANGELOG.md
  java/hibernate/CHANGELOG.md
  node/drizzle/CHANGELOG.md
  node/prisma/CHANGELOG.md
  python/django/CHANGELOG.md
  python/sqlalchemy/CHANGELOG.md
  python/tortoise-orm/CHANGELOG.md
Due: none

chore(node): keep the generated changelog out of prettier
  node/drizzle/.prettierignore
  node/prisma/.prettierignore
Due: none

chore(deps): keep TypeScript 7 out of the node-prisma group (#689)
  .github/dependabot.yml
Due: none

Path conditions:
  ruff-sqlalchemy: any of: ^python/sqlalchemy/.*\.py$
  ruff-format-sqlalchemy: any of: ^python/sqlalchemy/.*\.py$
  pyright-sqlalchemy: any of: ^python/sqlalchemy/.*\.py$
  ruff-tortoise: any of: ^python/tortoise-orm/.*\.py$
  ruff-format-tortoise: any of: ^python/tortoise-orm/.*\.py$
  pyright-tortoise: any of: ^python/tortoise-orm/.*\.py$
  ruff-django: any of: ^python/django/.*\.py$
  ruff-format-django: any of: ^python/django/.*\.py$
  prettier-prisma: any of: ^node/prisma/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
