Repository awslabs/aurora-dsql-orms: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-sqlalchemy, ruff-format-sqlalchemy, pyright-sqlalchemy, ruff-tortoise, ruff-format-tortoise, pyright-tortoise, ruff-django, ruff-format-django, prettier-prisma

ruff-sqlalchemy:
  name: ruff (sqlalchemy)
  entry: uv run --project python/sqlalchemy ruff check --fix
  language: system
  pass_filenames: false

ruff-format-sqlalchemy:
  name: ruff format (sqlalchemy)
  entry: uv run --project python/sqlalchemy ruff format
  language: system
  pass_filenames: false

pyright-sqlalchemy:
  name: pyright (sqlalchemy)
  entry: uv run --project python/sqlalchemy pyright --project python/sqlalchemy
  language: system
  pass_filenames: false

ruff-tortoise:
  name: ruff (tortoise-orm)
  entry: uv run --project python/tortoise-orm ruff check --fix
  language: system
  pass_filenames: false

ruff-format-tortoise:
  name: ruff format (tortoise-orm)
  entry: uv run --project python/tortoise-orm ruff format
  language: system
  pass_filenames: false

pyright-tortoise:
  name: pyright (tortoise-orm)
  entry: uv run --project python/tortoise-orm pyright --project python/tortoise-orm
  language: system
  pass_filenames: false

ruff-django:
  name: ruff (django)
  entry: uv run --project python/django ruff check --fix
  language: system
  pass_filenames: false

ruff-format-django:
  name: ruff format (django)
  entry: uv run --project python/django ruff format
  language: system
  pass_filenames: false

prettier-prisma:
  name: prettier (prisma)
  entry: npx --prefix node/prisma prettier --write
  language: system

fix(hibernate): use HTTPS in Maven wrapper license headers
  java/hibernate/examples/pet-clinic-app/mvnw
  java/hibernate/examples/pet-clinic-app/mvnw.cmd
Due: none

docs: regenerate component changelogs from GitHub Releases (#690)
  dotnet/ef-core/CHANGELOG.md
  java/hibernate/CHANGELOG.md
  node/drizzle/.prettierignore
  node/drizzle/CHANGELOG.md
  node/prisma/.prettierignore
  node/prisma/CHANGELOG.md
  python/django/CHANGELOG.md
  python/sqlalchemy/CHANGELOG.md
  python/tortoise-orm/CHANGELOG.md
Due: none

docs: complete release changelog history
  java/flyway/CHANGELOG.md
  node/prisma/CHANGELOG.md
Due: none

fix(deps): refresh vulnerable Node.js transitive dependencies
  node/drizzle/examples/veterinary-app/package-lock.json
  node/drizzle/examples/veterinary-app/package.json
  node/drizzle/package-lock.json
  node/drizzle/package.json
  node/prisma/examples/veterinary-app/package-lock.json
  node/prisma/examples/veterinary-app/package.json
  node/prisma/package-lock.json
  node/prisma/package.json
Due: prettier-prisma

fix(prisma): split migrations into one transaction per statement
  .github/workflows/node-prisma-ci.yml
  node/prisma/README.md
  node/prisma/src/cli/index.ts
  node/prisma/src/cli/transform.ts
  node/prisma/src/cli/validate.ts
  node/prisma/test/cli-integration.test.ts
  node/prisma/test/deploy-integration.test.ts
  node/prisma/test/transactions.ts
  node/prisma/test/transform.test.ts
  node/prisma/test/workflow.test.ts
Due: prettier-prisma

test(prisma): exercise COMMIT tokenization
  node/prisma/test/deploy-integration.test.ts
  node/prisma/test/transform.test.ts
Due: prettier-prisma

test(prisma): verify deployed migrations and split boundaries
  node/prisma/README.md
  node/prisma/package-lock.json
  node/prisma/package.json
  node/prisma/src/cli/index.ts
  node/prisma/src/cli/transform.ts
  node/prisma/test/deploy-integration.test.ts
  node/prisma/test/transform-contract.test.ts
  node/prisma/test/transform.test.ts
Due: prettier-prisma

docs(prisma): shorten the transactions section
  node/prisma/README.md
Due: none

docs(prisma): describe migration transactions concisely
  node/prisma/README.md
Due: none

test(prisma): cover transaction diagnostic matching
  node/prisma/test/transform-contract.test.ts
Due: prettier-prisma

fix(prisma): drain CLI output before exiting
  node/prisma/src/cli/index.ts
  node/prisma/test/cli-integration.test.ts
Due: prettier-prisma

fix(prisma): allow large migration lint output
  node/prisma/src/cli/dsql-lint.ts
  node/prisma/test/transform.test.ts
Due: prettier-prisma

docs(prisma): clarify manual migration transaction blocks
  node/prisma/README.md
Due: none

fix(prisma): report skipped transaction splitting
  node/prisma/README.md
  node/prisma/src/cli/index.ts
  node/prisma/src/cli/transform.ts
  node/prisma/test/cli-integration.test.ts
  node/prisma/test/transform.test.ts
Due: prettier-prisma

fix(prisma): preserve nested transaction-scoped settings
  node/prisma/src/cli/transform.ts
  node/prisma/test/transform.test.ts
Due: prettier-prisma

test(prisma): tighten skipped-splitting coverage
  node/prisma/test/transform.test.ts
Due: prettier-prisma

chore(prisma): prepare 0.1.4 release
  node/prisma/package-lock.json
  node/prisma/package.json
Due: prettier-prisma

fix(prisma): split migrations into one transaction per statement (#711)
  .github/workflows/node-prisma-ci.yml
  node/prisma/README.md
  node/prisma/package-lock.json
  node/prisma/package.json
  node/prisma/src/cli/dsql-lint.ts
  node/prisma/src/cli/index.ts
  node/prisma/src/cli/transform.ts
  node/prisma/src/cli/validate.ts
  node/prisma/test/cli-integration.test.ts
  node/prisma/test/deploy-integration.test.ts
  node/prisma/test/transactions.ts
  node/prisma/test/transform-contract.test.ts
  node/prisma/test/transform.test.ts
  node/prisma/test/workflow.test.ts
Due: prettier-prisma

fix(deps): resolve Node.js Dependabot alerts (#698)
  node/drizzle/examples/veterinary-app/package-lock.json
  node/drizzle/examples/veterinary-app/package.json
  node/drizzle/package-lock.json
  node/drizzle/package.json
  node/prisma/examples/veterinary-app/package-lock.json
  node/prisma/examples/veterinary-app/package.json
  node/prisma/package-lock.json
  node/prisma/package.json
Due: prettier-prisma

test(tortoise): enable aerich downgrade coverage for native DROP COLUMN (#600)
  python/tortoise-orm/tests/integration/test_aerich.py
Due: ruff-tortoise, ruff-format-tortoise, pyright-tortoise

Path conditions:
  ruff-sqlalchemy: any of: ^python/sqlalchemy/.*\.py$
  ruff-format-sqlalchemy: any of: ^python/sqlalchemy/.*\.py$
  pyright-sqlalchemy: any of: ^python/sqlalchemy/.*\.py$
  ruff-tortoise: any of: ^python/tortoise-orm/.*\.py$
  ruff-format-tortoise: any of: ^python/tortoise-orm/.*\.py$
  pyright-tortoise: any of: ^python/tortoise-orm/.*\.py$
  ruff-django: any of: ^python/django/.*\.py$
  ruff-format-django: any of: ^python/django/.*\.py$
  prettier-prisma: any of: ^node/prisma/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
