Repository awslabs/aurora-dsql-orms: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-sqlalchemy, ruff-format-sqlalchemy, pyright-sqlalchemy, ruff-tortoise, ruff-format-tortoise, pyright-tortoise, ruff-django, ruff-format-django, prettier-prisma

ruff-sqlalchemy:
  name: ruff (sqlalchemy)
  entry: uv run --project python/sqlalchemy ruff check --fix
  language: system
  pass_filenames: false

ruff-format-sqlalchemy:
  name: ruff format (sqlalchemy)
  entry: uv run --project python/sqlalchemy ruff format
  language: system
  pass_filenames: false

pyright-sqlalchemy:
  name: pyright (sqlalchemy)
  entry: uv run --project python/sqlalchemy pyright --project python/sqlalchemy
  language: system
  pass_filenames: false

ruff-tortoise:
  name: ruff (tortoise-orm)
  entry: uv run --project python/tortoise-orm ruff check --fix
  language: system
  pass_filenames: false

ruff-format-tortoise:
  name: ruff format (tortoise-orm)
  entry: uv run --project python/tortoise-orm ruff format
  language: system
  pass_filenames: false

pyright-tortoise:
  name: pyright (tortoise-orm)
  entry: uv run --project python/tortoise-orm pyright --project python/tortoise-orm
  language: system
  pass_filenames: false

ruff-django:
  name: ruff (django)
  entry: uv run --project python/django ruff check --fix
  language: system
  pass_filenames: false

ruff-format-django:
  name: ruff format (django)
  entry: uv run --project python/django ruff format
  language: system
  pass_filenames: false

prettier-prisma:
  name: prettier (prisma)
  entry: npx --prefix node/prisma prettier --write
  language: system

Add maven to .mise.toml (#126)
  .mise.toml
Due: none

Run all Hibernate integration tests against DSQL
  .github/workflows/java-hibernate-ci.yml
  java/hibernate/examples/pet-clinic-app/README.md
  java/hibernate/examples/pet-clinic-app/pom.xml
  java/hibernate/examples/pet-clinic-app/src/main/java/org/springframework/samples/petclinic/config/DsqlDataSourceConfig.java
  java/hibernate/examples/pet-clinic-app/src/main/java/org/springframework/samples/petclinic/owner/OwnerRepository.java
  java/hibernate/examples/pet-clinic-app/src/main/resources/application-dsql.properties
  java/hibernate/examples/pet-clinic-app/src/main/resources/db/dsql/data.sql
  java/hibernate/examples/pet-clinic-app/src/main/resources/db/dsql/schema.sql
  java/hibernate/examples/pet-clinic-app/src/main/resources/db/h2/data.sql
  java/hibernate/examples/pet-clinic-app/src/main/resources/db/h2/schema.sql
  java/hibernate/examples/pet-clinic-app/src/test/java/org/springframework/samples/petclinic/DsqlIntegrationTest.java
  java/hibernate/examples/pet-clinic-app/src/test/java/org/springframework/samples/petclinic/PetClinicIntegrationTests.java
  java/hibernate/examples/pet-clinic-app/src/test/java/org/springframework/samples/petclinic/PostgresIntegrationTests.java
  java/hibernate/examples/pet-clinic-app/src/test/java/org/springframework/samples/petclinic/owner/OwnerControllerIntegrationTest.java
  java/hibernate/examples/pet-clinic-app/src/test/java/org/springframework/samples/petclinic/service/ClinicServiceTests.java
  java/hibernate/examples/pet-clinic-app/src/test/resources/application-dsql.properties
  java/hibernate/examples/pet-clinic-app/src/test/resources/application-h2.properties
  java/hibernate/examples/pet-clinic-app/src/test/resources/application-test.properties
  java/hibernate/examples/pet-clinic-app/src/test/resources/application.properties
  java/hibernate/examples/pet-clinic-app/src/test/resources/db/h2/schema.sql
Due: none

Added support for sequences and identity columns to the dialect
  python/sqlalchemy/README.md
  python/sqlalchemy/aurora_dsql_sqlalchemy/base.py
  python/sqlalchemy/test/test_sequence.py
  python/sqlalchemy/test/test_serial_primary_key.py
Due: ruff-sqlalchemy, ruff-format-sqlalchemy, pyright-sqlalchemy

Fixed safe ruff issues
  python/sqlalchemy/aurora_dsql_sqlalchemy/base.py
  python/sqlalchemy/test/test_sequence.py
  python/sqlalchemy/test/test_serial_primary_key.py
Due: ruff-sqlalchemy, ruff-format-sqlalchemy, pyright-sqlalchemy

Run all Hibernate samples integration tests against DSQL (#127)
  .github/workflows/java-hibernate-ci.yml
  java/hibernate/examples/pet-clinic-app/README.md
  java/hibernate/examples/pet-clinic-app/pom.xml
  java/hibernate/examples/pet-clinic-app/src/main/java/org/springframework/samples/petclinic/config/DsqlDataSourceConfig.java
  java/hibernate/examples/pet-clinic-app/src/main/java/org/springframework/samples/petclinic/owner/OwnerRepository.java
  java/hibernate/examples/pet-clinic-app/src/main/resources/application-dsql.properties
  java/hibernate/examples/pet-clinic-app/src/main/resources/db/dsql/data.sql
  java/hibernate/examples/pet-clinic-app/src/main/resources/db/dsql/schema.sql
  java/hibernate/examples/pet-clinic-app/src/main/resources/db/h2/data.sql
  java/hibernate/examples/pet-clinic-app/src/main/resources/db/h2/schema.sql
  java/hibernate/examples/pet-clinic-app/src/test/java/org/springframework/samples/petclinic/DsqlIntegrationTest.java
  java/hibernate/examples/pet-clinic-app/src/test/java/org/springframework/samples/petclinic/PetClinicIntegrationTests.java
  java/hibernate/examples/pet-clinic-app/src/test/java/org/springframework/samples/petclinic/PostgresIntegrationTests.java
  java/hibernate/examples/pet-clinic-app/src/test/java/org/springframework/samples/petclinic/owner/OwnerControllerIntegrationTest.java
  java/hibernate/examples/pet-clinic-app/src/test/java/org/springframework/samples/petclinic/service/ClinicServiceTests.java
  java/hibernate/examples/pet-clinic-app/src/test/resources/application-dsql.properties
  java/hibernate/examples/pet-clinic-app/src/test/resources/application-h2.properties
  java/hibernate/examples/pet-clinic-app/src/test/resources/application-test.properties
  java/hibernate/examples/pet-clinic-app/src/test/resources/application.properties
  java/hibernate/examples/pet-clinic-app/src/test/resources/db/h2/schema.sql
Due: none

fixing ruff issues
  python/sqlalchemy/aurora_dsql_sqlalchemy/base.py
  python/sqlalchemy/test/test_sequence.py
  python/sqlalchemy/test/test_serial_primary_key.py
Due: ruff-sqlalchemy, ruff-format-sqlalchemy, pyright-sqlalchemy

Fixing pyright flagged errors
  python/sqlalchemy/aurora_dsql_sqlalchemy/base.py
  python/sqlalchemy/test/test_sequence.py
Due: ruff-sqlalchemy, ruff-format-sqlalchemy, pyright-sqlalchemy

Run sample tests with both Maven and Gradle
  .github/workflows/java-hibernate-ci.yml
  java/hibernate/examples/pet-clinic-app/build.gradle
  java/hibernate/examples/pet-clinic-app/pom.xml
  java/hibernate/examples/pet-clinic-app/src/test/resources/application-dsql.properties
  java/hibernate/examples/pet-clinic-app/src/test/resources/application-h2.properties
  java/hibernate/examples/pet-clinic-app/src/test/resources/application.properties
Due: none

Ignore Spring Boot 4.x dependabot upgrades
  .github/dependabot.yml
Due: none

initial commit for sequence and identity support
  python/django/aurora_dsql_django/__init__.py
  python/django/aurora_dsql_django/base.py
  python/django/aurora_dsql_django/fields.py
  python/django/aurora_dsql_django/operations.py
  python/django/aurora_dsql_django/tests/unit/test_base.py
  python/django/aurora_dsql_django/tests/unit/test_fields.py
  python/django/aurora_dsql_django/tests/unit/test_operations.py
  python/django/examples/pet-clinic-app/README.md
  python/django/reference/ADAPTER_BEHAVIOR.md
Due: ruff-django, ruff-format-django

Add Tortoise ORM adapter support for IDENTITY columns
  python/tortoise-orm/aurora_dsql_tortoise/common/fields.py
  python/tortoise-orm/aurora_dsql_tortoise/common/schema_generator.py
  python/tortoise-orm/docs/ADAPTER_BEHAVIOR.md
  python/tortoise-orm/tests/integration/aerich_models/bigint_pk.py
  python/tortoise-orm/tests/integration/test_aerich.py
  python/tortoise-orm/tests/integration/test_identity.py
  python/tortoise-orm/tests/unit/test_fields.py
  python/tortoise-orm/tests/unit/test_schema_generator.py
Due: ruff-tortoise, ruff-format-tortoise, pyright-tortoise

Synchronize ruff rules between Python projects
  .pre-commit-config.yaml
  python/django/docs/source/conf.py
  python/django/examples/pet-clinic-app/project/pet_clinic/views.py
  python/django/pyproject.toml
Due: ruff-django, ruff-format-django

Synchronize ruff rules between Python projects (#155)
  .pre-commit-config.yaml
  python/django/docs/source/conf.py
  python/django/examples/pet-clinic-app/project/pet_clinic/views.py
  python/django/pyproject.toml
Due: ruff-django, ruff-format-django

Update links to point to new mono-repos
  node/prisma/README.md
  python/django/setup.py
  python/sqlalchemy/examples/pet-clinic-app/README.md
  python/tortoise-orm/README.md
Due: ruff-django, ruff-format-django

Update node/prisma/README.md
  node/prisma/README.md
Due: none

Add sequence and identity support for Hibernate
  java/hibernate/README.md
  java/hibernate/dialect/build.gradle
  java/hibernate/dialect/src/main/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLDialect.java
  java/hibernate/dialect/src/main/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLIdentitySupport.java
  java/hibernate/dialect/src/main/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLSequenceSupport.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLDialectTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/DSQLHibernateBaseTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/IdentityTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/PrimaryKeyTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/SequenceIdentityCacheTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/SequenceTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/model/IdentityKeyIntEntity.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/model/IdentityKeyLongEntity.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/model/SequenceKeyEntity.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/model/SequenceKeyWithOptionsEntity.java
Due: none

Formatting
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/IdentityTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/SequenceIdentityCacheTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/SequenceTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/model/IdentityKeyLongEntity.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/model/SequenceKeyWithOptionsEntity.java
Due: none

Update links to point to new mono-repos (#156)
  node/prisma/README.md
  python/django/setup.py
  python/sqlalchemy/examples/pet-clinic-app/README.md
  python/tortoise-orm/README.md
Due: ruff-django, ruff-format-django

Run Hibernate sample tests with both Maven and Gradle (#136)
  .github/workflows/java-hibernate-ci.yml
  java/hibernate/examples/pet-clinic-app/build.gradle
  java/hibernate/examples/pet-clinic-app/pom.xml
  java/hibernate/examples/pet-clinic-app/src/test/resources/application-dsql.properties
  java/hibernate/examples/pet-clinic-app/src/test/resources/application-h2.properties
  java/hibernate/examples/pet-clinic-app/src/test/resources/application.properties
Due: none

Ignore Spring Boot 4.x Dependabot upgrades (#137)
  .github/dependabot.yml
Due: none

Apply Google Java Format to Hibernate dialect files
  java/hibernate/dialect/src/main/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLDialect.java
  java/hibernate/dialect/src/main/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLIdentitySupport.java
  java/hibernate/dialect/src/main/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLSequenceSupport.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLDialectTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/IdentityTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/PrimaryKeyTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/SequenceIdentityCacheTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/SequenceTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/model/IdentityKeyIntEntity.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/model/IdentityKeyLongEntity.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/model/SequenceKeyWithOptionsEntity.java
Due: none

Add EnabledIfSystemProperty annotation to integration tests
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/IdentityTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/SequenceTest.java
Due: none

Add sequence documentation links to README
  java/hibernate/README.md
Due: none

Add sequence documentation link
  python/tortoise-orm/docs/ADAPTER_BEHAVIOR.md
Due: none

Add sequence documentation links
  python/django/examples/pet-clinic-app/README.md
  python/django/reference/ADAPTER_BEHAVIOR.md
Due: none

Add sequence documentation link to README
  python/sqlalchemy/README.md
Due: none

Fix identity column detection for UUID primary keys
  python/sqlalchemy/aurora_dsql_sqlalchemy/base.py
Due: ruff-sqlalchemy, ruff-format-sqlalchemy, pyright-sqlalchemy

Add sequence and identity support for Hibernate (#157)
  java/hibernate/README.md
  java/hibernate/dialect/build.gradle
  java/hibernate/dialect/src/main/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLDialect.java
  java/hibernate/dialect/src/main/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLIdentitySupport.java
  java/hibernate/dialect/src/main/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLSequenceSupport.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLDialectTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/DSQLHibernateBaseTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/IdentityTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/PrimaryKeyTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/SequenceIdentityCacheTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/SequenceTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/model/IdentityKeyIntEntity.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/model/IdentityKeyLongEntity.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/model/SequenceKeyWithOptionsEntity.java
Due: none

Add Tortoise ORM adapter support for IDENTITY columns (#154)
  python/tortoise-orm/aurora_dsql_tortoise/common/fields.py
  python/tortoise-orm/aurora_dsql_tortoise/common/schema_generator.py
  python/tortoise-orm/docs/ADAPTER_BEHAVIOR.md
  python/tortoise-orm/tests/integration/aerich_models/bigint_pk.py
  python/tortoise-orm/tests/integration/test_aerich.py
  python/tortoise-orm/tests/integration/test_identity.py
  python/tortoise-orm/tests/unit/test_fields.py
  python/tortoise-orm/tests/unit/test_schema_generator.py
Due: ruff-tortoise, ruff-format-tortoise, pyright-tortoise

Add sequence and identity support for Django (#153)
  python/django/aurora_dsql_django/__init__.py
  python/django/aurora_dsql_django/base.py
  python/django/aurora_dsql_django/fields.py
  python/django/aurora_dsql_django/operations.py
  python/django/aurora_dsql_django/tests/unit/test_base.py
  python/django/aurora_dsql_django/tests/unit/test_fields.py
  python/django/aurora_dsql_django/tests/unit/test_operations.py
  python/django/examples/pet-clinic-app/README.md
  python/django/reference/ADAPTER_BEHAVIOR.md
Due: ruff-django, ruff-format-django

Add support for sequences and identity columns to the Aurora DSQL dialect for SQLAlchemy (#135)
  python/sqlalchemy/README.md
  python/sqlalchemy/aurora_dsql_sqlalchemy/base.py
  python/sqlalchemy/test/test_sequence.py
  python/sqlalchemy/test/test_serial_primary_key.py
Due: ruff-sqlalchemy, ruff-format-sqlalchemy, pyright-sqlalchemy

Fix security vulnerabilities and improve Dependabot config
  .github/dependabot.yml
  node/prisma/examples/veterinary-app/package-lock.json
  node/prisma/examples/veterinary-app/package.json
  node/prisma/package-lock.json
  node/prisma/package.json
Due: prettier-prisma

Fix hono and fast-xml-parser security vulnerabilities, improve Dependabot config (#300)
  .github/dependabot.yml
  node/prisma/examples/veterinary-app/package-lock.json
  node/prisma/examples/veterinary-app/package.json
  node/prisma/package-lock.json
  node/prisma/package.json
Due: prettier-prisma

Allow importing dsql tortoise without having both backends installed
  python/tortoise-orm/aurora_dsql_tortoise/__init__.py
  python/tortoise-orm/tests/unit/test_public_api.py
Due: ruff-tortoise, ruff-format-tortoise, pyright-tortoise

Support creating indexes on tortoise>=1
  python/tortoise-orm/aurora_dsql_tortoise/common/schema_generator.py
  python/tortoise-orm/tests/unit/test_schema_generator.py
Due: ruff-tortoise, ruff-format-tortoise, pyright-tortoise

Fix formatting
  python/tortoise-orm/aurora_dsql_tortoise/__init__.py
  python/tortoise-orm/aurora_dsql_tortoise/common/schema_generator.py
  python/tortoise-orm/tests/unit/test_public_api.py
Due: ruff-tortoise, ruff-format-tortoise, pyright-tortoise

Reduce dependabot frequency and group updates
  .github/dependabot.yml
Due: none

Reduce dependabot frequency and group updates (#323)
  .github/dependabot.yml
Due: none

Tortoise 1.0 fixes and don't require both asyncpg + psycopg to be installed. (#311)
  python/tortoise-orm/aurora_dsql_tortoise/__init__.py
  python/tortoise-orm/aurora_dsql_tortoise/common/schema_generator.py
  python/tortoise-orm/tests/unit/test_public_api.py
  python/tortoise-orm/tests/unit/test_schema_generator.py
Due: ruff-tortoise, ruff-format-tortoise, pyright-tortoise

Path conditions:
  ruff-sqlalchemy: any of: ^python/sqlalchemy/.*\.py$
  ruff-format-sqlalchemy: any of: ^python/sqlalchemy/.*\.py$
  pyright-sqlalchemy: any of: ^python/sqlalchemy/.*\.py$
  ruff-tortoise: any of: ^python/tortoise-orm/.*\.py$
  ruff-format-tortoise: any of: ^python/tortoise-orm/.*\.py$
  pyright-tortoise: any of: ^python/tortoise-orm/.*\.py$
  ruff-django: any of: ^python/django/.*\.py$
  ruff-format-django: any of: ^python/django/.*\.py$
  prettier-prisma: any of: ^node/prisma/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
