Repository awslabs/aurora-dsql-orms: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-sqlalchemy, ruff-format-sqlalchemy, pyright-sqlalchemy, ruff-tortoise, ruff-format-tortoise, pyright-tortoise, ruff-django, ruff-format-django, prettier-prisma

ruff-sqlalchemy:
  name: ruff (sqlalchemy)
  entry: uv run --project python/sqlalchemy ruff check --fix
  language: system
  pass_filenames: false

ruff-format-sqlalchemy:
  name: ruff format (sqlalchemy)
  entry: uv run --project python/sqlalchemy ruff format
  language: system
  pass_filenames: false

pyright-sqlalchemy:
  name: pyright (sqlalchemy)
  entry: uv run --project python/sqlalchemy pyright --project python/sqlalchemy
  language: system
  pass_filenames: false

ruff-tortoise:
  name: ruff (tortoise-orm)
  entry: uv run --project python/tortoise-orm ruff check --fix
  language: system
  pass_filenames: false

ruff-format-tortoise:
  name: ruff format (tortoise-orm)
  entry: uv run --project python/tortoise-orm ruff format
  language: system
  pass_filenames: false

pyright-tortoise:
  name: pyright (tortoise-orm)
  entry: uv run --project python/tortoise-orm pyright --project python/tortoise-orm
  language: system
  pass_filenames: false

ruff-django:
  name: ruff (django)
  entry: uv run --project python/django ruff check --fix
  language: system
  pass_filenames: false

ruff-format-django:
  name: ruff format (django)
  entry: uv run --project python/django ruff format
  language: system
  pass_filenames: false

prettier-prisma:
  name: prettier (prisma)
  entry: npx --prefix node/prisma prettier --write
  language: system

feat(prisma): replace custom SQL transform with dsql-lint (#401)
  .github/workflows/node-prisma-ci.yml
  node/prisma/README.md
  node/prisma/package.json
  node/prisma/src/cli/dsql-lint.ts
  node/prisma/src/cli/index.ts
  node/prisma/src/cli/transform.ts
  node/prisma/test/cli-integration.test.ts
  node/prisma/test/transform.test.ts
  node/prisma/test/workflow.test.ts
Due: prettier-prisma

refactor(validate): delegate SQL compatibility checks to dsql-lint
  node/prisma/README.md
  node/prisma/src/cli/index.ts
  node/prisma/src/cli/validate.ts
  node/prisma/test/cli-integration.test.ts
  node/prisma/test/validate.test.ts
  node/prisma/test/workflow.test.ts
Due: prettier-prisma

fix: update stale docs, remove dead warning paths, report SQL generation failures
  node/prisma/README.md
  node/prisma/src/cli/index.ts
  node/prisma/src/cli/validate.ts
  node/prisma/test/validate.test.ts
Due: prettier-prisma

test: restore coverage for Serial, fulltext, and autoincrement validation
  node/prisma/src/cli/validate.ts
  node/prisma/test/validate.test.ts
Due: prettier-prisma

cleanup: remove dead type field, simplify ValidateOptions, add failure test
  node/prisma/README.md
  node/prisma/src/cli/index.ts
  node/prisma/src/cli/validate.ts
  node/prisma/test/validate.test.ts
Due: prettier-prisma

style: fix prettier formatting in validate.test.ts
  node/prisma/test/validate.test.ts
Due: prettier-prisma

refactor(prisma): delegate validator checks to dsql-lint (#412)
  node/prisma/README.md
  node/prisma/src/cli/index.ts
  node/prisma/src/cli/validate.ts
  node/prisma/test/cli-integration.test.ts
  node/prisma/test/validate.test.ts
  node/prisma/test/workflow.test.ts
Due: prettier-prisma

fix(prisma): reject unknown CLI flags instead of silently ignoring them
  node/prisma/src/cli/index.ts
  node/prisma/test/cli-integration.test.ts
Due: prettier-prisma

fix(prisma): reject unknown CLI flags instead of silently ignoring them (#413)
  node/prisma/src/cli/index.ts
  node/prisma/test/cli-integration.test.ts
Due: prettier-prisma

chore(prisma): bump version to 0.1.1
  node/prisma/package.json
Due: prettier-prisma

chore(prisma): release v0.1.1 (#414)
  node/prisma/package.json
Due: prettier-prisma

refactor(prisma): use npm-bundled dsql-lint with JSON output and stdin
  node/prisma/package.json
  node/prisma/src/cli/dsql-lint.ts
  node/prisma/src/cli/index.ts
  node/prisma/src/cli/transform.ts
  node/prisma/src/cli/validate.ts
  node/prisma/test/cli-integration.test.ts
  node/prisma/test/transform.test.ts
  node/prisma/test/workflow.test.ts
Due: prettier-prisma

chore(prisma): update package-lock.json for @aws/dsql-lint dependency
  node/prisma/package-lock.json
Due: prettier-prisma

refactor(prisma): address review feedback on dsql-lint integration
  node/prisma/README.md
  node/prisma/src/cli/dsql-lint.ts
  node/prisma/src/cli/index.ts
Due: prettier-prisma

refactor(prisma): second round of review feedback on dsql-lint integration
  node/prisma/CHANGELOG.md
  node/prisma/README.md
  node/prisma/package-lock.json
  node/prisma/package.json
  node/prisma/src/cli/dsql-lint.ts
  node/prisma/src/cli/index.ts
  node/prisma/src/cli/transform.ts
Due: prettier-prisma

ci: remove dead cargo install dsql-lint step from node-prisma CI
  .github/workflows/node-prisma-ci.yml
Due: none

refactor(prisma): use npm-bundled dsql-lint with JSON output and stdin (#415)
  .github/workflows/node-prisma-ci.yml
  node/prisma/CHANGELOG.md
  node/prisma/README.md
  node/prisma/package-lock.json
  node/prisma/package.json
  node/prisma/src/cli/dsql-lint.ts
  node/prisma/src/cli/index.ts
  node/prisma/src/cli/transform.ts
  node/prisma/src/cli/validate.ts
  node/prisma/test/cli-integration.test.ts
  node/prisma/test/transform.test.ts
  node/prisma/test/workflow.test.ts
Due: prettier-prisma

chore(prisma): bump version to 0.1.2
  node/prisma/package-lock.json
  node/prisma/package.json
Due: prettier-prisma

chore(prisma): release v0.1.2 (#422)
  node/prisma/package-lock.json
  node/prisma/package.json
Due: prettier-prisma

fix(ci): grant update-changelog job write permissions in node-prisma release
  .github/workflows/node-prisma-release.yml
Due: none

fix(ci): grant update-changelog job write permissions in node-prisma release (#423)
  .github/workflows/node-prisma-release.yml
Due: none

Replace inline DSQL limitation language with links to official docs
  java/hibernate/README.md
  node/prisma/README.md
  python/django/reference/ADAPTER_BEHAVIOR.md
  python/django/reference/KNOWN_ISSUES.md
  python/sqlalchemy/README.md
  python/tortoise-orm/docs/ADAPTER_BEHAVIOR.md
  python/tortoise-orm/docs/KNOWN_ISSUES.md
Due: none

fix(ci): upgrade npm before publishing to enable Trusted Publishing
  .github/workflows/node-prisma-release.yml
Due: none

fix(ci): upgrade npm before publishing to enable Trusted Publishing (#440)
  .github/workflows/node-prisma-release.yml
Due: none

Replace inline DSQL limitation language with links to official docs (#439)
  java/hibernate/README.md
  node/prisma/README.md
  python/django/reference/ADAPTER_BEHAVIOR.md
  python/django/reference/KNOWN_ISSUES.md
  python/sqlalchemy/README.md
  python/tortoise-orm/docs/ADAPTER_BEHAVIOR.md
  python/tortoise-orm/docs/KNOWN_ISSUES.md
Due: none

fix(ci): use sudo+force for npm self-upgrade in release workflow
  .github/workflows/node-prisma-release.yml
Due: none

fix(ci): make npm self-upgrade reliable in release workflow (#441)
  .github/workflows/node-prisma-release.yml
Due: none

fix(ci): clear NODE_AUTH_TOKEN so npm uses OIDC trusted publishing
  .github/workflows/node-prisma-release.yml
Due: none

ci: add diagnostic step to confirm npm/PATH state before publish
  .github/workflows/node-prisma-release.yml
Due: none

ci: use $HOME instead of ~ in diagnostic (actionlint SC2088)
  .github/workflows/node-prisma-release.yml
Due: none

fix(ci): clear NODE_AUTH_TOKEN to force OIDC trusted publishing (#442)
  .github/workflows/node-prisma-release.yml
Due: none

fix(ci): drop sudo from npm self-upgrade so it lands on PATH
  .github/workflows/node-prisma-release.yml
Due: none

fix(ci): drop sudo from npm self-upgrade so it actually replaces toolcache npm (#443)
  .github/workflows/node-prisma-release.yml
Due: none

Update changelog for node/prisma/v0.1.2
  node/prisma/CHANGELOG.md
Due: none

feat: Add Slack PR Notifier Workflow
  .github/workflows/slack-pr-notify.yml
Due: none

Enable native JSONB support in adapters
  python/django/aurora_dsql_django/features.py
  python/django/aurora_dsql_django/tests/unit/test_features.py
  python/sqlalchemy/README.md
  python/sqlalchemy/aurora_dsql_sqlalchemy/base.py
  python/tortoise-orm/README.md
  python/tortoise-orm/aurora_dsql_tortoise/aerich/patch.py
  python/tortoise-orm/docs/ADAPTER_BEHAVIOR.md
  python/tortoise-orm/docs/KNOWN_ISSUES.md
  python/tortoise-orm/tests/unit/test_aerich_compat.py
Due: ruff-sqlalchemy, ruff-format-sqlalchemy, pyright-sqlalchemy, ruff-tortoise, ruff-format-tortoise, pyright-tortoise, ruff-django, ruff-format-django

Enable native JSONB support in adapters (#476)
  python/django/aurora_dsql_django/features.py
  python/django/aurora_dsql_django/tests/unit/test_features.py
  python/sqlalchemy/README.md
  python/sqlalchemy/aurora_dsql_sqlalchemy/base.py
  python/tortoise-orm/README.md
  python/tortoise-orm/aurora_dsql_tortoise/aerich/patch.py
  python/tortoise-orm/docs/ADAPTER_BEHAVIOR.md
  python/tortoise-orm/docs/KNOWN_ISSUES.md
  python/tortoise-orm/tests/unit/test_aerich_compat.py
Due: ruff-sqlalchemy, ruff-format-sqlalchemy, pyright-sqlalchemy, ruff-tortoise, ruff-format-tortoise, pyright-tortoise, ruff-django, ruff-format-django

feat(hibernate): Add Hibernate 7.x compatibility (v2.0.0)
  java/hibernate/CHANGELOG.md
  java/hibernate/README.md
  java/hibernate/dialect/.gitignore
  java/hibernate/dialect/README.md
  java/hibernate/dialect/build.gradle
  java/hibernate/dialect/gradle/wrapper/gradle-wrapper.properties
  java/hibernate/dialect/gradlew
  java/hibernate/dialect/src/main/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLDialect.java
  java/hibernate/dialect/src/main/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLIdentitySupport.java
  java/hibernate/dialect/src/main/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLSequenceSupport.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLDialectFunctionsTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLDialectTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/ForeignKeyTest.java
Due: none

style: Apply google-java-format
  java/hibernate/dialect/src/main/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLDialect.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLDialectTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/ForeignKeyTest.java
Due: none

Path conditions:
  ruff-sqlalchemy: any of: ^python/sqlalchemy/.*\.py$
  ruff-format-sqlalchemy: any of: ^python/sqlalchemy/.*\.py$
  pyright-sqlalchemy: any of: ^python/sqlalchemy/.*\.py$
  ruff-tortoise: any of: ^python/tortoise-orm/.*\.py$
  ruff-format-tortoise: any of: ^python/tortoise-orm/.*\.py$
  pyright-tortoise: any of: ^python/tortoise-orm/.*\.py$
  ruff-django: any of: ^python/django/.*\.py$
  ruff-format-django: any of: ^python/django/.*\.py$
  prettier-prisma: any of: ^node/prisma/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
