Repository awslabs/aurora-dsql-orms: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-sqlalchemy, ruff-format-sqlalchemy, pyright-sqlalchemy, ruff-tortoise, ruff-format-tortoise, pyright-tortoise, ruff-django, ruff-format-django, prettier-prisma

ruff-sqlalchemy:
  name: ruff (sqlalchemy)
  entry: uv run --project python/sqlalchemy ruff check --fix
  language: system
  pass_filenames: false

ruff-format-sqlalchemy:
  name: ruff format (sqlalchemy)
  entry: uv run --project python/sqlalchemy ruff format
  language: system
  pass_filenames: false

pyright-sqlalchemy:
  name: pyright (sqlalchemy)
  entry: uv run --project python/sqlalchemy pyright --project python/sqlalchemy
  language: system
  pass_filenames: false

ruff-tortoise:
  name: ruff (tortoise-orm)
  entry: uv run --project python/tortoise-orm ruff check --fix
  language: system
  pass_filenames: false

ruff-format-tortoise:
  name: ruff format (tortoise-orm)
  entry: uv run --project python/tortoise-orm ruff format
  language: system
  pass_filenames: false

pyright-tortoise:
  name: pyright (tortoise-orm)
  entry: uv run --project python/tortoise-orm pyright --project python/tortoise-orm
  language: system
  pass_filenames: false

ruff-django:
  name: ruff (django)
  entry: uv run --project python/django ruff check --fix
  language: system
  pass_filenames: false

ruff-format-django:
  name: ruff format (django)
  entry: uv run --project python/django ruff format
  language: system
  pass_filenames: false

prettier-prisma:
  name: prettier (prisma)
  entry: npx --prefix node/prisma prettier --write
  language: system

Remove sequence-related errors, keep Serial errors and add hot key warning
  node/prisma/README.md
  node/prisma/package-lock.json
  node/prisma/package.json
  node/prisma/src/cli/index.ts
  node/prisma/src/cli/transform.ts
  node/prisma/src/cli/validate.ts
  node/prisma/test/cli-integration.test.ts
  node/prisma/test/transform.test.ts
  node/prisma/test/validate.test.ts
  node/prisma/test/workflow.test.ts
Due: prettier-prisma

Add table recreation for unsupported ALTER TABLE operations
  python/django/aurora_dsql_django/schema.py
  python/django/aurora_dsql_django/tests/integration/test_contrib_migrations.py
  python/django/aurora_dsql_django/tests/integration/test_schema_remake.py
  python/django/aurora_dsql_django/tests/test_settings.py
Due: ruff-django, ruff-format-django

Add conftest.py to call django.setup() for integration tests
  python/django/aurora_dsql_django/tests/integration/conftest.py
Due: ruff-django, ruff-format-django

fix: simplify conftest.py to unconditionally call django.setup()
  python/django/aurora_dsql_django/tests/integration/conftest.py
Due: ruff-django, ruff-format-django

fix: use TransactionTestCase for integration tests with DDL
  python/django/aurora_dsql_django/tests/integration/test_contrib_migrations.py
  python/django/aurora_dsql_django/tests/integration/test_schema_remake.py
Due: ruff-django, ruff-format-django

fix: use unittest.TestCase and add OC001 retry for DDL sequences
  python/django/aurora_dsql_django/schema.py
  python/django/aurora_dsql_django/tests/integration/test_contrib_migrations.py
  python/django/aurora_dsql_django/tests/integration/test_schema_remake.py
Due: ruff-django, ruff-format-django

fix: ensure clean connection state between integration tests
  python/django/aurora_dsql_django/tests/integration/test_contrib_migrations.py
  python/django/aurora_dsql_django/tests/integration/test_schema_remake.py
Due: ruff-django, ruff-format-django

fix: retry migrate on OC001 in contrib migrations test
  python/django/aurora_dsql_django/tests/integration/test_contrib_migrations.py
Due: ruff-django, ruff-format-django

fix: drop leftover temp table before _remake_table and reset connection on retry
  python/django/aurora_dsql_django/schema.py
Due: ruff-django, ruff-format-django

fix: comprehensive OCC retry for all DSQL schema operations
  python/django/aurora_dsql_django/schema.py
  python/django/aurora_dsql_django/tests/integration/test_contrib_migrations.py
Due: ruff-django, ruff-format-django

style: fix ruff lint and format issues
  python/django/aurora_dsql_django/schema.py
  python/django/aurora_dsql_django/tests/integration/test_contrib_migrations.py
Due: ruff-django, ruff-format-django

refactor: use rename-first pattern in _remake_table to prevent data loss
  python/django/aurora_dsql_django/schema.py
Due: ruff-django, ruff-format-django

fix: batch data copy in _remake_table to stay within DSQL 3k row limit
  python/django/aurora_dsql_django/schema.py
Due: ruff-django, ruff-format-django

fix: add failure recovery and production warning to _remake_table
  python/django/aurora_dsql_django/schema.py
Due: ruff-django, ruff-format-django

fix: clean up _remake_table after code review
  python/django/aurora_dsql_django/schema.py
  python/django/aurora_dsql_django/tests/integration/test_contrib_migrations.py
  python/django/aurora_dsql_django/tests/integration/test_schema_remake.py
Due: ruff-django, ruff-format-django

fix: add ORDER BY and count verification to batched copy
  python/django/aurora_dsql_django/schema.py
Due: ruff-django, ruff-format-django

refactor: final cleanup of _remake_table after review
  python/django/aurora_dsql_django/schema.py
Due: ruff-django, ruff-format-django

style: code review cleanup for _remake_table
  python/django/aurora_dsql_django/schema.py
Due: ruff-django, ruff-format-django

fix: use 3000 not ~3000 in row limit comments
  python/django/aurora_dsql_django/schema.py
Due: ruff-django, ruff-format-django

refactor: improve OCC error handling, cursor-based pagination, and test DRY
  python/django/aurora_dsql_django/schema.py
  python/django/aurora_dsql_django/tests/integration/test_schema_remake.py
Due: ruff-django, ruff-format-django

fix: replace MIN(uuid) with ORDER BY LIMIT 1 and apply ruff format
  python/django/aurora_dsql_django/schema.py
Due: ruff-django, ruff-format-django

fix: handle orphaned ASYNC indexes that survive DROP TABLE
  python/django/aurora_dsql_django/schema.py
Due: ruff-django, ruff-format-django

fix: preserve other tables' deferred SQL during _remake_table
  python/django/aurora_dsql_django/schema.py
Due: ruff-django, ruff-format-django

fix: add OCC retry to raw cursor queries and increase test retries
  python/django/aurora_dsql_django/schema.py
  python/django/aurora_dsql_django/tests/integration/test_contrib_migrations.py
Due: ruff-django, ruff-format-django

refactor: extract _get_sqlstate and _occ_retry to reduce duplication
  python/django/aurora_dsql_django/schema.py
Due: ruff-django, ruff-format-django

test: increase OCC retry resilience for contrib migration test
  python/django/aurora_dsql_django/tests/integration/test_contrib_migrations.py
Due: ruff-django, ruff-format-django

refactor: consolidate OCC retry, add recovery tests and progress logging
  python/django/aurora_dsql_django/schema.py
  python/django/aurora_dsql_django/tests/unit/test_schema_remake.py
Due: ruff-django, ruff-format-django

test: tighten recovery test assertions and fix model re-registration
  python/django/aurora_dsql_django/tests/unit/test_schema_remake.py
Due: ruff-django, ruff-format-django

address review findings: table name length guard and additional tests
  python/django/aurora_dsql_django/schema.py
  python/django/aurora_dsql_django/tests/unit/test_schema_remake.py
Due: ruff-django, ruff-format-django

build(deps): update prisma to 7.6.0
  node/prisma/examples/veterinary-app/package-lock.json
  node/prisma/package-lock.json
Due: prettier-prisma

build(deps): update prisma to 7.6.0 (#368)
  node/prisma/examples/veterinary-app/package-lock.json
  node/prisma/package-lock.json
Due: prettier-prisma

build(deps): update hono, @hono/node-server, fast-xml-parser
  node/prisma/examples/veterinary-app/package-lock.json
  node/prisma/package-lock.json
Due: prettier-prisma

build(deps): update hono, @hono/node-server, fast-xml-parser (#367)
  node/prisma/examples/veterinary-app/package-lock.json
  node/prisma/package-lock.json
Due: prettier-prisma

feat(prisma): replace custom SQL transform with dsql-lint
  node/prisma/README.md
  node/prisma/package.json
  node/prisma/src/cli/dsql-lint.ts
  node/prisma/src/cli/index.ts
  node/prisma/src/cli/transform.ts
  node/prisma/test/cli-integration.test.ts
  node/prisma/test/transform.test.ts
  node/prisma/test/workflow.test.ts
Due: prettier-prisma

style: fix Prettier formatting for CI
  node/prisma/README.md
  node/prisma/src/cli/transform.ts
  node/prisma/test/cli-integration.test.ts
  node/prisma/test/transform.test.ts
Due: prettier-prisma

ci: install dsql-lint in test job
  .github/workflows/node-prisma-ci.yml
Due: none

fix: use in-process PATH search instead of shelling out to which
  node/prisma/src/cli/dsql-lint.ts
Due: prettier-prisma

improve test coverage and simplify README transformer docs
  node/prisma/README.md
  node/prisma/src/cli/index.ts
  node/prisma/test/transform.test.ts
  node/prisma/test/workflow.test.ts
Due: prettier-prisma

address PR review feedback
  node/prisma/README.md
  node/prisma/src/cli/index.ts
  node/prisma/test/cli-integration.test.ts
  node/prisma/test/workflow.test.ts
Due: prettier-prisma

Path conditions:
  ruff-sqlalchemy: any of: ^python/sqlalchemy/.*\.py$
  ruff-format-sqlalchemy: any of: ^python/sqlalchemy/.*\.py$
  pyright-sqlalchemy: any of: ^python/sqlalchemy/.*\.py$
  ruff-tortoise: any of: ^python/tortoise-orm/.*\.py$
  ruff-format-tortoise: any of: ^python/tortoise-orm/.*\.py$
  pyright-tortoise: any of: ^python/tortoise-orm/.*\.py$
  ruff-django: any of: ^python/django/.*\.py$
  ruff-format-django: any of: ^python/django/.*\.py$
  prettier-prisma: any of: ^node/prisma/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
