Repository awslabs/aurora-dsql-orms: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-sqlalchemy, ruff-format-sqlalchemy, pyright-sqlalchemy, ruff-tortoise, ruff-format-tortoise, pyright-tortoise, ruff-django, ruff-format-django, prettier-prisma

.pre-commit-config.yaml:

repos:
  # Python linting, formatting, and type checking (per-project, requires uv)
  - repo: local
    hooks:
      - id: ruff-sqlalchemy
        name: ruff (sqlalchemy)
        entry: uv run --project python/sqlalchemy ruff check --fix
        language: system
        files: ^python/sqlalchemy/.*\.py$
        pass_filenames: false
      - id: ruff-format-sqlalchemy
        name: ruff format (sqlalchemy)
        entry: uv run --project python/sqlalchemy ruff format
        language: system
        files: ^python/sqlalchemy/.*\.py$
        pass_filenames: false
      - id: pyright-sqlalchemy
        name: pyright (sqlalchemy)
        entry: uv run --project python/sqlalchemy pyright --project python/sqlalchemy
        language: system
        files: ^python/sqlalchemy/.*\.py$
        pass_filenames: false

      - id: ruff-tortoise
        name: ruff (tortoise-orm)
        entry: uv run --project python/tortoise-orm ruff check --fix
        language: system
        files: ^python/tortoise-orm/.*\.py$
        pass_filenames: false
      - id: ruff-format-tortoise
        name: ruff format (tortoise-orm)
        entry: uv run --project python/tortoise-orm ruff format
        language: system
        files: ^python/tortoise-orm/.*\.py$
        pass_filenames: false
      - id: pyright-tortoise
        name: pyright (tortoise-orm)
        entry: uv run --project python/tortoise-orm pyright --project python/tortoise-orm
        language: system
        files: ^python/tortoise-orm/.*\.py$
        pass_filenames: false

      - id: ruff-django
        name: ruff (django)
        entry: uv run --project python/django ruff check --fix
        language: system
        files: ^python/django/.*\.py$
        pass_filenames: false
      - id: ruff-format-django
        name: ruff format (django)
        entry: uv run --project python/django ruff format
        language: system
        files: ^python/django/.*\.py$
        pass_filenames: false

  # Python license headers
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        files: ^python/.*\.py$
        args: [--license-filepath=LICENSE_HEADER.txt]

  # Java formatting
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-java
        args: [--autofix]

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [yaml]

  # Prisma formatting (uses prettier from node/prisma package.json)
  - repo: local
    hooks:
      - id: prettier-prisma
        name: prettier (prisma)
        entry: npx --prefix node/prisma prettier --write
        language: system
        files: ^node/prisma/
        types_or: [ts, javascript, json]

  # GitHub Actions linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  # Secrets detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

Update changelog for python/django/v0.6.0
  python/django/CHANGELOG.md
Due: none

Update changelog for python/sqlalchemy/v1.2.0
  python/sqlalchemy/CHANGELOG.md
Due: none

Fix flaky specialty assertion in SQLAlchemy pet-clinic example
  python/sqlalchemy/examples/pet-clinic-app/src/example.py
Due: ruff-sqlalchemy, ruff-format-sqlalchemy, pyright-sqlalchemy

Fix flaky specialty assertion in SQLAlchemy pet-clinic example (#564)
  python/sqlalchemy/examples/pet-clinic-app/src/example.py
Due: ruff-sqlalchemy, ruff-format-sqlalchemy, pyright-sqlalchemy

docs(django): update migration guidance for drop column
  python/django/README.md
  python/django/aurora_dsql_django/tests/unit/test_wrapper.py
  python/django/reference/KNOWN_ISSUES.md
  python/django/reference/MIGRATIONS.md
Due: ruff-django, ruff-format-django

docs(django): focus migration guide on required actions
  python/django/reference/KNOWN_ISSUES.md
  python/django/reference/MIGRATIONS.md
Due: none

docs(django): keep migration guidance focused
  python/django/README.md
  python/django/reference/KNOWN_ISSUES.md
  python/django/reference/MIGRATIONS.md
Due: none

docs(django): update migration guidance for drop column (#588)
  python/django/aurora_dsql_django/tests/unit/test_wrapper.py
  python/django/reference/KNOWN_ISSUES.md
Due: ruff-django, ruff-format-django

fix(ci): scope drizzle release gate to its own checks
  .github/workflows/node-drizzle-ci.yml
  .github/workflows/node-drizzle-release.yml
Due: none

fix(ci): scope drizzle release gate to its own checks (#595)
  .github/workflows/node-drizzle-ci.yml
  .github/workflows/node-drizzle-release.yml
Due: none

fix(ci): allow a token for a package's first npm publish
  .github/workflows/node-drizzle-release.yml
Due: none

fix(ci): allow a token for a package's first npm publish (#596)
  .github/workflows/node-drizzle-release.yml
Due: none

test(tortoise): enable aerich downgrade coverage for native DROP COLUMN
  python/tortoise-orm/tests/integration/test_aerich.py
Due: ruff-tortoise, ruff-format-tortoise, pyright-tortoise

Update changelog for node/drizzle/v0.1.0
  node/drizzle/CHANGELOG.md
Due: none

Update changelog for node/drizzle/v0.1.0 (#597)
  node/drizzle/CHANGELOG.md
Due: none

Use native foreign keys throughout ORM samples
  dotnet/ef-core/examples/InventoryApi/InventoryDbContext.cs
  java/hibernate/CHANGELOG.md
  node/drizzle/examples/veterinary-app/README.md
  node/drizzle/examples/veterinary-app/src/veterinary-service.ts
  node/drizzle/examples/veterinary-app/test/dsql-client.test.ts
  node/drizzle/examples/veterinary-app/test/veterinary-service.test.ts
  node/prisma/README.md
  node/prisma/examples/veterinary-app/README.md
  node/prisma/examples/veterinary-app/prisma/migrations/0_init/down.sql
  node/prisma/jest.config.js
  node/prisma/test/cli-integration.test.ts
  node/prisma/test/validate.test.ts
  node/prisma/test/workflow.test.ts
  python/django/reference/ADAPTER_BEHAVIOR.md
  python/tortoise-orm/README.md
  python/tortoise-orm/docs/ADAPTER_BEHAVIOR.md
Due: prettier-prisma

Update ORM SELECT FOR UPDATE support
  java/hibernate/README.md
  java/hibernate/dialect/src/main/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLDialect.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLDialectTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/LockingTest.java
  python/tortoise-orm/README.md
  python/tortoise-orm/aurora_dsql_tortoise/asyncpg/client.py
  python/tortoise-orm/aurora_dsql_tortoise/common/capabilities.py
  python/tortoise-orm/aurora_dsql_tortoise/psycopg/client.py
  python/tortoise-orm/docs/KNOWN_ISSUES.md
  python/tortoise-orm/tests/integration/test_query_execution.py
  python/tortoise-orm/tests/unit/test_asyncpg_client.py
  python/tortoise-orm/tests/unit/test_psycopg_client.py
Due: ruff-tortoise, ruff-format-tortoise, pyright-tortoise

fix(ci): test fork pull requests safely
  .github/workflows/ci-gate.yml
  .github/workflows/dotnet-ef-core-ci.yml
  .github/workflows/java-hibernate-ci.yml
  .github/workflows/node-drizzle-ci.yml
  .github/workflows/node-prisma-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python-django-ci.yml
  .github/workflows/python-sqlalchemy-ci.yml
  .github/workflows/python-tortoise-ci.yml
  .github/workflows/trusted-pr-integration.yml
  CONTRIBUTING.md
Due: none

fix(ci): avoid untrusted manual checkouts
  .github/workflows/dotnet-ef-core-ci.yml
  .github/workflows/java-hibernate-ci.yml
  .github/workflows/node-drizzle-ci.yml
  .github/workflows/node-prisma-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python-django-ci.yml
  .github/workflows/python-sqlalchemy-ci.yml
  .github/workflows/python-tortoise-ci.yml
Due: none

fix(ci): resolve trusted PR commits internally
  .github/workflows/trusted-pr-integration.yml
  CONTRIBUTING.md
Due: none

fix(ci): make trusted caches read-only
  .github/actionlint.yaml
  .github/workflows/trusted-pr-integration.yml
  CONTRIBUTING.md
Due: none

fix(ci): test fork pull requests safely (#639)
  .github/actionlint.yaml
  .github/workflows/ci-gate.yml
  .github/workflows/dotnet-ef-core-ci.yml
  .github/workflows/java-hibernate-ci.yml
  .github/workflows/node-drizzle-ci.yml
  .github/workflows/node-prisma-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python-django-ci.yml
  .github/workflows/python-sqlalchemy-ci.yml
  .github/workflows/python-tortoise-ci.yml
  .github/workflows/trusted-pr-integration.yml
  CONTRIBUTING.md
Due: none

Update Hibernate and Tortoise SELECT FOR UPDATE support (#626)
  java/hibernate/README.md
  java/hibernate/dialect/src/main/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLDialect.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLDialectTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/LockingTest.java
  python/tortoise-orm/README.md
  python/tortoise-orm/aurora_dsql_tortoise/asyncpg/client.py
  python/tortoise-orm/aurora_dsql_tortoise/common/capabilities.py
  python/tortoise-orm/aurora_dsql_tortoise/psycopg/client.py
  python/tortoise-orm/docs/KNOWN_ISSUES.md
  python/tortoise-orm/tests/integration/test_query_execution.py
  python/tortoise-orm/tests/unit/test_asyncpg_client.py
  python/tortoise-orm/tests/unit/test_psycopg_client.py
Due: ruff-tortoise, ruff-format-tortoise, pyright-tortoise

fix(ci): repair trusted PR workflow dispatch
  .github/workflows/trusted-pr-integration.yml
Due: none

fix(ci): repair trusted PR workflow dispatch (#642)
  .github/workflows/trusted-pr-integration.yml
Due: none

fix(ci): allow trusted integration status updates
  .github/workflows/trusted-pr-integration.yml
Due: none

fix(ci): allow trusted integration status updates (#643)
  .github/workflows/trusted-pr-integration.yml
Due: none

fix(ci): repair Prisma and Hibernate integration tests
  .github/workflows/node-prisma-ci.yml
  java/hibernate/dialect/README.md
  java/hibernate/dialect/src/main/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLDialect.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/ForeignKeyTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/model/BaseEntity.java
  java/hibernate/examples/pet-clinic-app/README.md
  java/hibernate/examples/pet-clinic-app/build.gradle
  java/hibernate/examples/pet-clinic-app/pom.xml
  java/hibernate/examples/pet-clinic-app/src/main/java/org/springframework/samples/petclinic/model/BaseEntity.java
  java/hibernate/examples/pet-clinic-app/src/test/java/org/springframework/samples/petclinic/model/BaseEntitySchemaTests.java
  node/prisma/examples/veterinary-app/prisma/migrations/0_init/down.sql
  node/prisma/jest.config.js
Due: prettier-prisma

fix(ci): repair Prisma and Hibernate integration tests (#644)
  .github/workflows/node-prisma-ci.yml
  java/hibernate/dialect/README.md
  java/hibernate/dialect/src/main/java/software/amazon/dsql/hibernate/dialect/AuroraDSQLDialect.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/ForeignKeyTest.java
  java/hibernate/dialect/src/test/java/software/amazon/dsql/hibernate/dialect/integration/model/BaseEntity.java
  java/hibernate/examples/pet-clinic-app/README.md
  java/hibernate/examples/pet-clinic-app/build.gradle
  java/hibernate/examples/pet-clinic-app/pom.xml
  java/hibernate/examples/pet-clinic-app/src/main/java/org/springframework/samples/petclinic/model/BaseEntity.java
  java/hibernate/examples/pet-clinic-app/src/test/java/org/springframework/samples/petclinic/model/BaseEntitySchemaTests.java
  node/prisma/examples/veterinary-app/prisma/migrations/0_init/down.sql
  node/prisma/jest.config.js
Due: prettier-prisma

fix(deps): retain compatible SQLAlchemy tooling
  python/sqlalchemy/uv.lock
Due: none

fix(deps): preserve HTTPS Maven wrapper license URLs
  java/hibernate/examples/pet-clinic-app/mvnw
  java/hibernate/examples/pet-clinic-app/mvnw.cmd
Due: none

fix(deps): retain compatible Tortoise Ruff version
  python/tortoise-orm/uv.lock
Due: none

fix(deps): retain compatible Django tooling and connector
  python/django/uv.lock
Due: none

fix(deps): keep TypeScript compatible with ts-jest
  node/prisma/examples/veterinary-app/package-lock.json
  node/prisma/examples/veterinary-app/package.json
  node/prisma/package-lock.json
  node/prisma/package.json
Due: prettier-prisma

fix(deps): keep TypeScript compatible with ts-jest
  node/drizzle/package-lock.json
  node/drizzle/package.json
Due: none
